@{
    ViewData["Title"] = "Home Page";
}

<h2>Calendario</h2>

<div id="calendar" style="height: 600px;"></div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log("FullCalendar:", typeof FullCalendar);

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek'
            });

            calendar.render();
        });
    </script>
}